body {
	background-color: #d2d6e2; 
	color: #000000;
	font-family: 'Sen', sans-serif;
	font-size: 18px;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

.header {
	background-color: #f1f1f1;
	padding: 30px;
	text-align: center;
  }	
  
  #navbar {
	overflow: hidden;
	background-color: #003DA6;
  }

  
  a.underline {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15em;
	display: inline-block;
	padding: 15px 20px;
	position: relative;
  }

  a.underline:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 4px;
	left: 50%;
	position: absolute;
	background:	#F9F8FF;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
  }

  a.underline:hover:after { 
	width: 100%; 
	left: 0; 
  }

  a.underline-active {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15em;
	display: inline-block;
	padding: 15px 20px;
	position: relative;
  }

  a.underline-active:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 4px;
	position: absolute;
	background: #D73C4B;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 100%;
	left: 0; 
  }

  .content {
	padding: 16px;
  }
  
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 60px;
  }

  .topnav-right {
	float: right;
	margin-top: 80px;
  }

  .logo-box {
	  margin: 1rem;
  }

  section {
	  position: relative;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  padding: 10px 20vw;
	  
  }

  .cn-white {
	  background: #d2d6e2;
  }

  .cn-yellow {
	  background: #e5ba7a;
  }

  .cn-green {
	background: #148582;
}

  .curve {
	  position: absolute;
	  height: 225px;
	  width: 100%;
	  bottom:0;
  }

  .curve::before {
	content: "";
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	width: 55%;
	height: 100%;
	background-color: #003DA6;
	transform: translate(85%, 60%);
  }

  .curve::after {
	content: "";
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	width: 55%;
	height: 100%;
	background-color: #fff;
	transform: translate(-4%, 40%);
	z-index: -1;
  }

  .cn-title {
	font-family: 'Sen', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 900;
	text-decoration: underline #D73C4B 4px; 
	padding-bottom: 2rem;
  }

  .cn-title-white {
	font-family: 'Sen', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 900;
	text-decoration: underline #D73C4B 4px; 
	padding-bottom: 2rem;
	color: #F9F8FF;
  }

  .cn-title2-white {
	font-family: 'Sen', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 800;
	text-decoration: underline #D73C4B 2px; 
	padding-top: 1.5rem;
	padding-bottom: 0.5rem;
	color: #F9F8FF;
  }

  .cn-whitespace {
	  padding: 2.5rem;
  }

  .cn-text-white {
	  color: #F9F8FF;
  }

  .spacer {
	  aspect-ratio: 960/120;
	  width: 100%;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
  }

  .layer1 {
	  background-image: url("../Images/wave1.svg");
  }

  .layer2 {
	background-image: url("../Images/wave2.svg");
}

	.layer3 {
	background-image: url("../Images/wave3.svg");
}