body {
	background-color: #d2d6e2; 
	color: #000000;
	font-family: Verdana;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

.header {
	background-color: #f1f1f1;
	padding: 30px;
	text-align: center;
  }
  
  #navbar {
	overflow: hidden;
	background-color: #003DA6;
  }

  
  a.underline {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15em;
	display: inline-block;
	padding: 15px 20px;
	position: relative;
  }

  a.underline:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 4px;
	left: 50%;
	position: absolute;
	background:	#F9F8FF;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
  }

  a.underline:hover:after { 
	width: 100%; 
	left: 0; 
  }

  a.underline-active {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15em;
	display: inline-block;
	padding: 15px 20px;
	position: relative;
  }

  a.underline-active:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 5px;
	position: absolute;
	background: #D73C4B;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 100%;
	left: 0; 
  }

  .content {
	padding: 16px;
  }
  
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 60px;
  }

  .topnav-right {
	float: right;
	margin-top: 80px;
  }

  .logo-box {
	  margin: 1rem;
  }
