<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="author" content="Ivan Todorov">
      <link rel="stylesheet" type="text/css" href="../CSS/Stylesheet.css"/>
      <link rel="stylesheet" href="hJps://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/fontawesome.min.css">
      <script src="https://kit.fontawesome.com/5c4ebf68fc.js" crossorigin="anonymous"></script>
      <title>Mental Assist | Clinics</title>
</head>
<body>

    <div id="navbar">
        <a class="logo-box" href="/">
        <img src="/Images/logo.svg" alt="Mental Assist Logo" width="180rem" height="140rem" onmouseover="this.src='../Images/logo2.svg';" onmouseout="this.src='../Images/logo.svg';">
    </a>

        <div class="topnav-right">
        <a class="underline" href="mindfulness">
            <img src="../Images/mindfulness-icon.svg" alt="Mindfulness" width="35rem" height="35rem"> Mindfulness   
        </a>
        
        <a class="underline" href="habits">
            <img src="../Images/habits-icon.svg" alt="Habits" width="35rem" height="35rem"> Habits   
        </a>

        <a class="underline" href="diet">
            <img src="../Images/diet-icon.svg" alt="Diet" width="35rem" height="35rem"> Diet   
        </a>

        <a class="underline" href="lockdown">
            <img src="../Images/lockdown-icon.svg" alt="Lockdown" width="35rem" height="35rem">  Lockdown   
        </a>

        <a class="underline-active" href="clinics">
            <img src="../Images/clinics-icon.svg" alt="Lockdown" width="35rem" height="35rem">  Clinics   
        </a>
      </div>
      </div>
    <div class="cn-whitespace"></div> 

    <section>
        <svg width="90" height="90" viewBox="0 0 131 129" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M60.5501 0.258118C46.1374 1.92503 33.6737 10.6954 27.2868 23.6991C21.4132 35.7016 21.6698 50.1397 28.0046 62.0393C30.9802 67.6055 36.418 73.5286 41.8024 77.0936C43.5201 78.1964 45.8032 79.5305 46.8806 80.0171L48.8296 80.8886L56.6 95.4296C60.8575 103.431 64.4226 109.996 64.4988 109.996C64.5763 109.996 67.9609 103.918 72.0393 96.4549C76.1164 89.0173 79.7082 82.5288 80.0156 82.0422C80.4006 81.426 80.9647 80.9902 81.8108 80.6574C86.8891 78.7084 93.6075 73.6556 97.5576 68.8353C110.688 52.7811 110.381 30.4429 96.8651 14.4917C88.2472 4.33651 73.8599 -1.30586 60.5501 0.258118ZM71.399 5.20805C81.7346 7.02868 90.9153 13.1068 96.5831 21.9039C99.1991 25.9555 101.226 31.1621 102.021 35.9329C102.56 39.113 102.585 44.9853 102.046 48.0638C100.661 56.0909 97.2501 62.6569 91.4286 68.4784C87.4532 72.4284 83.4016 75.1206 78.6829 76.9158L77.1176 77.5307L70.8603 88.9171C65.9879 97.8411 64.5777 100.227 64.3718 99.9197C64.2181 99.7139 61.4484 94.5594 58.1907 88.4813L52.2917 77.4011L48.7013 75.6312C37.315 70.0156 29.8012 59.6546 28.0313 47.2163C27.6464 44.3958 27.8776 37.1627 28.4417 34.5988C31.0069 23.0842 38.1878 13.7738 48.5221 8.594C52.2409 6.72124 56.7551 5.38851 61.1396 4.84981C63.6272 4.56642 68.628 4.72014 71.399 5.20805Z" fill="black"/>
            <path d="M62.4229 19.0058C57.4729 19.5191 52.523 21.9547 48.7026 25.751C44.3422 30.1114 42.2649 34.9063 41.9829 41.1649C41.6754 47.7042 43.8289 53.3465 48.3938 58.1173C51.5993 61.4512 55.1644 63.5284 59.7293 64.7596C62.4483 65.4774 67.9877 65.4266 70.8336 64.6566C75.0657 63.5284 78.5025 61.5273 81.4767 58.5264C86.1446 53.8077 88.3248 48.5249 88.3248 41.9843C88.3248 28.1865 76.3476 17.5688 62.4229 19.0058ZM69.3472 23.9811C70.2708 24.1857 72.0915 24.8781 73.4242 25.5197C75.4507 26.5196 76.1939 27.0583 78.0399 28.9043C79.2711 30.1355 80.6813 31.8799 81.22 32.8023C86.5549 42.0351 82.9137 53.9855 73.3213 58.7042C70.3978 60.1666 68.4743 60.6023 65.1151 60.6023C61.7558 60.6023 59.8323 60.1666 56.9088 58.7042C48.6251 54.6271 44.5467 44.881 47.4969 36.2644C48.5743 33.1872 49.6517 31.4682 52.1648 28.9551C54.6016 26.4929 57.243 24.9543 60.4993 24.0827C62.7557 23.4678 67.0132 23.417 69.3472 23.9811Z" fill="black"/>
            <path d="M16.0034 110.561L0 128.078L32.75 128.156C50.7531 128.181 80.2469 128.181 98.25 128.156L131 128.078L114.997 110.561L98.9932 93.0716H95.7877H92.5822L93.6343 94.149C94.1984 94.7639 100.482 101.587 107.56 109.357L120.434 123.462L92.9672 123.538C77.8621 123.564 53.1392 123.564 38.0328 123.538L10.5402 123.462L20.6191 112.434C26.184 106.356 32.4426 99.5347 34.5452 97.2262L38.367 93.0716H35.1869H32.0068L16.0034 110.561Z" fill="black"/>
            </svg>
            
        <h1 class="cn-title">Clinics</h1>
        </section>
        <div class="spacer layer7"></div>
        <section class="cn-gray cn-text-white">

    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d94210.01320849362!2d-4.289201805822592!3d55.8863562316755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smental%20assist!5e0!3m2!1sen!2suk!4v1644162342143!5m2!1sen!2suk" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</section>
<div class="spacer layer8"></div>

<table>
    <thead>
        <tr>
            <th> <i class="fa fa-tag" aria-hidden="true"></i> Name</th>
            <th> <i class="fa fa-location-arrow" aria-hidden="true"></i> Address</th>
            <th> <i class="fa fa-phone" aria-hidden="true"></i> Contact Number</th>
            <th> <i class="fa fa-link" aria-hidden="true"></i> Website</th>
        </tr>
    </thead>
    <tbody>
        <% clinicsList.forEach(clinic => { %>
            <tr>
                <td scope="row" aria-label="Name"><%= clinic.name %></td>
                <td aria-label="Address"><%= clinic.address %></td>
                <td aria-label="Contact"><a href="tel:<%= clinic.phone %>">Call Now</a></td>
                <td aria-label="Website"><a href="<%= clinic.website %>" target="_blank">Visit Website</a></td>
            </tr>
            <% }) %>
    </tbody>
</table>

<div class="footer-content">
    <b>Mental Assist</b>
    Glasgow Caledonian University - Honours Project [MHW225671] </br>
    Ⓒ 2022 Copyright: Ivan Todorov [S1822426]
    <div class="footer-link">
       <a class="footer-link-button" href="https://www.facebook.com/GlasgowCaledonianUniversity/" target="_blank"> <i class="fab fa-facebook-f icon"> </i></a>
       <a class="footer-link-button" href="https://twitter.com/gcu_studentlife" target="_blank"> <i class="fab fa-twitter icon"> </i></a>
       <a class="footer-link-button" href="https://www.linkedin.com/school/glasgow-caledonian-university/" target="_blank"> <i class="fab fa-linkedin-in icon"></i></a></li>
       <a class="footer-link-button" href="https://www.instagram.com/gcu_studentlife/" target="_blank"><i class="fab fa-instagram-square"> </i></a></li>
       <a class="footer-link-button" href="#navbar" ><i class="fa fa-angle-up"> </i></a></li>
    </div>
 </div>
</body>
</html>