<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="Ivan Todorov">
   <link rel="stylesheet" type="text/css" href="../CSS/Stylesheet.css" />
   <link rel="stylesheet" href="hJps://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/fontawesome.min.css">
   <script src="https://kit.fontawesome.com/5c4ebf68fc.js" crossorigin="anonymous"></script>
   <title>Mental Assist | Mindfulness</title>
</head>

<body>
   <div id="navbar">
      <a class="logo-box" href="/">
         <img src="/Images/logo.svg" alt="Mental Assist Logo" width="180rem" height="140rem"
            onmouseover="this.src='../Images/logo2.svg';" onmouseout="this.src='../Images/logo.svg';">
      </a>

      <div class="topnav-right">
         <a class="underline" href="mindfulness">
            <img src="../Images/mindfulness-icon.svg" alt="Mindfulness" width="35rem" height="35rem"> Mindfulness
         </a>

         <a class="underline-active" href="habits">
            <img src="../Images/habits-icon.svg" alt="Habits" width="35rem" height="35rem"> Habits
         </a>

         <a class="underline" href="diet">
            <img src="../Images/diet-icon.svg" alt="Diet" width="35rem" height="35rem"> Diet
         </a>

         <a class="underline" href="lockdown">
            <img src="../Images/lockdown-icon.svg" alt="Lockdown" width="35rem" height="35rem"> Lockdown
         </a>

         <a class="underline" href="clinics">
            <img src="../Images/clinics-icon.svg" alt="Lockdown" width="35rem" height="35rem"> Clinics
         </a>
      </div>
   </div>
   <div class="cn-whitespace"></div>
   <section>


      <svg width="90" height="90" viewBox="0 0 164 209" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path
            d="M87.385 57.346C85.049 57.346 83.158 59.24 83.158 61.572V114.426L51.117 137.041C49.206 138.387 48.761 141.02 50.102 142.918C50.932 144.098 52.231 144.717 53.56 144.717C54.406 144.717 55.252 144.47 55.995 143.934L89.828 120.055C90.942 119.254 91.611 117.975 91.611 116.605V61.571C91.611 59.231 89.721 57.346 87.385 57.346Z"
            fill="black" />
         <path
            d="M158.385 112.906C158.385 71.402 124.618 37.635 83.117 37.635C41.608 37.635 7.842 71.402 7.842 112.906C7.842 136.629 18.899 157.783 36.099 171.592L20.962 197.46C19.785 199.474 20.462 202.065 22.476 203.254C23.141 203.642 23.879 203.823 24.605 203.823C26.058 203.823 27.469 203.072 28.253 201.735L43.027 176.503C54.649 183.857 68.375 188.182 83.125 188.182C97.866 188.182 111.584 183.866 123.206 176.512L137.972 201.743C138.756 203.08 140.176 203.832 141.62 203.832C142.347 203.832 143.081 203.65 143.758 203.262C145.773 202.074 146.448 199.498 145.269 197.468L130.131 171.609C147.316 157.791 158.385 136.629 158.385 112.906ZM83.109 179.722C46.268 179.722 16.285 149.752 16.285 112.907C16.285 76.066 46.259 46.088 83.109 46.088C119.963 46.088 149.924 76.058 149.924 112.907C149.925 149.76 119.963 179.722 83.109 179.722Z"
            fill="black" />
         <path
            d="M13.294 53.169C14.012 53.169 14.738 52.992 15.407 52.604L62.627 25.337C63.593 24.78 64.303 23.859 64.592 22.778C64.877 21.693 64.732 20.537 64.167 19.571C55.479 4.529 36.19 -0.633996 21.155 8.045C13.871 12.255 8.663 19.039 6.484 27.165C4.31 35.295 5.428 43.78 9.625 51.056C10.413 52.418 11.833 53.169 13.294 53.169ZM14.647 29.353C16.236 23.41 20.057 18.441 25.381 15.363C28.996 13.279 32.953 12.28 36.858 12.28C43.478 12.28 49.949 15.128 54.398 20.328L15.163 42.976C13.624 38.634 13.43 33.917 14.647 29.353Z"
            fill="black" />
         <path
            d="M103.785 25.345L151.006 52.612C151.658 52.983 152.385 53.177 153.119 53.177C153.482 53.177 153.853 53.128 154.217 53.033C155.298 52.744 156.223 52.034 156.776 51.064C160.985 43.776 162.1 35.291 159.928 27.169C157.749 19.047 152.541 12.25 145.262 8.05303C130.215 -0.629967 110.917 4.53703 102.242 19.58C101.688 20.554 101.523 21.701 101.812 22.782C102.102 23.855 102.803 24.78 103.785 25.345ZM141.027 15.362C150.766 20.991 154.86 32.724 151.237 42.975L111.998 20.322C119.071 12.073 131.279 9.73303 141.027 15.362Z"
            fill="black" />
      </svg>

      </svg>
      <h1 class="cn-title">Habits</h1>
      If you never seem to have enough time, better time management may help you regain control of your days.

      Whether it's in your job or your lifestyle as a whole, learning how to manage your time effectively can help you
      feel more relaxed, focused and in control.
      "The aim of good time management is to achieve the lifestyle balance you want," says Emma Donaldson-Feilder, a
      chartered occupational psychologist.

   </section>
   <div class="spacer layer11"></div>
   <section class="cn-red">
      <h1 class="cn-title-blue">Work out your goals</h1>
      "Work out who you want to be, your priorities in life, and what you want to achieve in your career or personal
      life," says Emma. "That is then the guiding principle for how you spend your time and how you manage it."
      Once you have worked out the big picture, you can then work out some short-term and medium-term goals. "Knowing
      your goals will help you plan better and focus on the things that will help you achieve those goals," says Emma
      Donaldson-Feilder.
      A healthy mind is just as important as a healthy body, but sometimes we can forget just how important it is to
      form habits that ensure that you are happy, confident and secure. We all understand that we should eat well and
      get plenty of exercise, but what can we do to make sure that we are emotionally strong, resilient and content, as
      well as physically healthy?
   </section>
   <div class="spacer layer12"></div>
   <section class="cn-white">
      <h1 class="cn-title">Make a list</h1>
      To-do lists are a good way to stay organised. "Try it and see what works best for you," says Emma.
      She prefers to keep a single to-do list, to avoid losing track of multiple lists. "Keeping a list will help you
      work out your priorities and timings. It can help you put off the non-urgent tasks."
      Make sure you keep your list somewhere accessible. If you always have your phone, for example, keep it on your
      phone.
   </section>
   <div class="spacer layer13"></div>
   <section class="cn-purple-light">
      <h1 class="cn-title"> Focus on results</h1>


      Good time management at work means doing high-quality work, not high quantity. Emma advises concentrating not on
      how busy you are, but on results.

      "Spending more time on something doesn't necessarily achieve more," she says. "Staying an extra hour at work at
      the end of the day may not be the most effective way to manage your time."
      </br>
      </br>
      </div>
   </section>
   <div class="spacer layer14"></div>
   <section class="cn-white">
      <h1 class="cn-title">Have a lunch break</h1>
      Lots of people work through their lunch break, but Emma says that can be counter-productive. "As a general rule,
      taking at least 30 minutes away from your desk will help you to be more effective in the afternoon," she says.
      "Go for a walk outdoors or, better still, do some exercise," says Emma. "You'll come back to your desk
      re-energised, with a new set of eyes and renewed focus."
      Planning your day with a midday break will also help you to break up your work into more manageable chunks.
   </section>
   <div class="spacer layer15"></div>
   <section class="cn-mint cn-text">
      <h1 class="cn-title">Prioritise and practice</h1>
      <div class="columns">
         <h4 class="cn-title2">Prioritise important tasks</h4>
         Tasks can be grouped into 4 categories:

         <ul>
            <li>urgent and important</li>
            <li>not urgent but important</li>
            <li>urgent but not important</li>
            <li>neither urgent nor important</li>
         </ul>
         People who manage their time well concentrate on "not urgent but important" activities. That way they lower the
         chances of activities ever becoming "urgent and important".
         "The aim is to learn how to become better at reducing the number of urgent and important tasks. Having to deal
         with too many urgent tasks can be stressful," says Emma.
         <h4 class="cn-title2">Practise the '4 Ds'</h4>
         One study found that 1 in 3 office workers suffers from email stress. Making a decision the first time you open
         an email is crucial for good time management.

         Emma advises practising the "4 Ds":

         <ul>
            <li>Delete: you can probably delete half the emails you get immediately.</li>
            <li>Do: if the email is urgent or can be completed quickly.</li>
            <li>Delegate: if the email can be better dealt with by someone else.</li>
            <li>Defer: set aside time later to spend on emails that will take longer to deal with.</li>
         </ul>
      </div>
   </section>
   <div class="spacer layer16"></div>
   <div class="footer-content">
      <b>Mental Assist</b>
      Glasgow Caledonian University - Honours Project [MHW225671] </br>
      Ⓒ 2022 Copyright: Ivan Todorov [S1822426]
      <div class="footer-link">
         <a class="footer-link-button" href="https://www.facebook.com/GlasgowCaledonianUniversity/" target="_blank"> <i
               class="fab fa-facebook-f icon"> </i></a>
         <a class="footer-link-button" href="https://twitter.com/gcu_studentlife" target="_blank"> <i
               class="fab fa-twitter icon"> </i></a>
         <a class="footer-link-button" href="https://www.linkedin.com/school/glasgow-caledonian-university/"
            target="_blank"> <i class="fab fa-linkedin-in icon"></i></a></li>
         <a class="footer-link-button" href="https://www.instagram.com/gcu_studentlife/" target="_blank"><i
               class="fab fa-instagram-square"> </i></a></li>
         <a class="footer-link-button" href="#navbar"><i class="fa fa-angle-up"> </i></a></li>
      </div>
   </div>
</body>

</html>