<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ivan Todorov">
    <link rel="stylesheet" type="text/css" href="../CSS/Stylesheet.css" />
    <link rel="stylesheet" href="hJps://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/5c4ebf68fc.js" crossorigin="anonymous"></script>
    <title>Mental Assist | Homepage</title>
  </head>
  <body>
    <div id="navbar">
      <a class="logo-box" href="/">
        <img src="/Images/logo.svg" alt="Mental Assist Logo" width="180rem" height="140rem" onmouseover="this.src='../Images/logo2.svg';" onmouseout="this.src='../Images/logo.svg';">
      </a>
      <div class="topnav-right">
        <a class="underline" href="mindfulness">
          <img src="../Images/mindfulness-icon.svg" alt="Mindfulness" width="35rem" height="35rem"> Mindfulness </a>
        <a class="underline" href="habits">
          <img src="../Images/habits-icon.svg" alt="Habits" width="35rem" height="35rem"> Habits </a>
        <a class="underline" href="diet">
          <img src="../Images/diet-icon.svg" alt="Diet" width="35rem" height="35rem"> Diet </a>
        <a class="underline" href="lockdown">
          <img src="../Images/lockdown-icon.svg" alt="Lockdown" width="35rem" height="35rem"> Lockdown </a>
        <a class="underline" href="clinics">
          <img src="../Images/clinics-icon.svg" alt="Lockdown" width="35rem" height="35rem"> Clinics </a>
      </div>
    </div>
    <section class="showcase">
      <video src="../Images/video.mp4" muted loop autoplay></video>
      <div class="overlay"></div>
    </section>
  </body>
</html>