body {
	background-color: #d2d6e2;
	color: #000000;
	font-family: 'Sen', sans-serif;
	font-size: 18px;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	line-height: 1.8;
	text-align: justify;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.header {
	background-color: #f1f1f1;
	padding: 30px;
	text-align: center;
}

#navbar {
	overflow: hidden;
	background-color: #003DA6;
}

a.underline {
	color: #F9F8FF;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15em;
	display: inline-block;
	padding: 15px 20px;
	position: relative;
}

a.underline:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 4px;
	left: 50%;
	position: absolute;
	background: #F9F8FF;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

a.underline:hover:after {
	width: 100%;
	left: 0;
}

a.underline-active {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15em;
	display: inline-block;
	padding: 15px 20px;
	position: relative;
}

a.underline-active:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 4px;
	position: absolute;
	background: #D73C4B;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 100%;
	left: 0;
}

.topnav-right {
	float: right;
	margin-top: 80px;
}

.logo-box {
	margin: 1rem;
}

section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 20vw;
}

.cn-white {
	background: #d2d6e2;
}

.cn-yellow {
	background: #e5ba7a;
}

.cn-green {
	background: #148582;
}

.cn-gray {
	background: #E1DFDA;
}

.cn-purple {
	background: #D375C5;
}

.cn-red {
	background: #D73C4B;
}

.cn-purple-light {
	background: #BCC1FF;
}

.cn-mint {
	background: #00B38B;
}

.curve {
	position: absolute;
	height: 225px;
	width: 100%;
	bottom: 0;
}

.curve::before {
	content: "";
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	width: 55%;
	height: 100%;
	background-color: #003DA6;
	transform: translate(85%, 60%);
}

.curve::after {
	content: "";
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	width: 55%;
	height: 100%;
	background-color: #fff;
	transform: translate(-4%, 40%);
	z-index: -1;
}

.cn-title {
	font-family: 'Sen', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 900;
	text-decoration: underline #D73C4B 4px;
	padding-bottom: 2rem;
}

.cn-title-blue {
	font-family: 'Sen', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 900;
	text-decoration: underline #BCC1FF 4px;
	padding-bottom: 2rem;
}

.cn-title-white {
	font-family: 'Sen', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 900;
	text-decoration: underline #D73C4B 4px;
	padding-bottom: 2rem;
	color: #FFFFFF;
}

.cn-title2-white {
	font-family: 'Sen', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 800;
	text-decoration: underline #D73C4B 2px;
	padding-top: 1.5rem;
	padding-bottom: 0.5rem;
	color: #FFFFFF;
}

.cn-title2 {
	font-family: 'Sen', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 800;
	text-decoration: underline #D73C4B 2px;
	padding-top: 1.5rem;
	padding-bottom: 0.5rem;
}

.cn-whitespace {
	padding: 2.5rem;
}

.cn-text-white {
	color: #FFFFFF;
}

.column {
	float: left;
	width: 50%;
	padding: 10px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.spacer {
	aspect-ratio: 960/120;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.layer1 {
	background-image: url("../Images/wave1.svg");
}

.layer2 {
	background-image: url("../Images/wave2.svg");
}

.layer3 {
	background-image: url("../Images/wave3.svg");
}

.layer4 {
	background-image: url("../Images/wave4.svg");
}

.layer5 {
	background-image: url("../Images/wave5.svg");
}

.layer6 {
	background-image: url("../Images/wave6.svg");
}

.layer7 {
	background-image: url("../Images/wave7.svg");
}

.layer8 {
	background-image: url("../Images/wave8.svg");
}

.layer9 {
	background-image: url("../Images/wave9.svg");
}

.layer10 {
	background-image: url("../Images/wave10.svg");
}

.layer11 {
	background-image: url("../Images/wave11.svg");
}

.layer12 {
	background-image: url("../Images/wave12.svg");
}

.layer13 {
	background-image: url("../Images/wave13.svg");
}

.layer14 {
	background-image: url("../Images/wave14.svg");
}

.layer15 {
	background-image: url("../Images/wave15.svg");
}

.layer16 {
	background-image: url("../Images/wave16.svg");
}

.columns {
	column-count: 2;
	column-gap: 5rem;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #251607;
	height: auto;
	width: 100vw;
	padding-top: 40px;
	color: #fff;
}

.footer-content {
	display: flex;
	align-items: left;
	padding: 1%;
	padding-left: 2%;
	color: black;
	margin-top: 5%;
	justify-content: left;
	flex-direction: column;
	text-align: left;
	background: #ABA9BC;
	font-size: 14px;
	border-top: 4px dashed #d2d6e2;
}

.footer-link {
	display: block;
	align-items: right;
	font-size: 24px;
}

.footer-link-button {
	color: #251607;
}

a.footer-link-button:hover {
	color: #D73C4B;
}

table {
	width: 100%;
}

table thead tr {
	background: #B7B5B4;
}

table thead tr h1,
table thead tr h2,
table thead tr .h1,
table thead tr .h2,
table thead tr h3,
table thead tr .h3,
table thead tr h4,
table thead tr .h4 {
	color: #151515;
}

table thead tr a {
	color: #0075b0;
}

table thead tr a:hover,
table thead tr a:focus {
	color: white;
}

table tbody tr:nth-of-type(even) {
	background: #E1DFDA;
}

table td,
table th {
	padding: 8px 14px;
	text-align: left;
	font-size: 0.9rem;
}

table td a,
table th a {
	font-weight: bold;
	color: #003DA6 !important;
}

table td a:hover,
table th a:hover,
table td a:focus,
table th a:focus {
	color: #D73C4B !important;
}

table th {
	font-weight: 700;
	font-size: 0.8rem;
	line-height: 1.4;
	text-transform: uppercase;
	margin: 0;
	max-width: 800px;
	line-height: inherit;
	color: #151515;
}

table th.PrimaryFont {
	text-transform: none;
}

table:nth-of-type(odd) {
	background: #ECEAE4;
}

@media only screen and (max-width: 599px) {
	table th {
		display: none;
	}
	table td {
		position: relative;
		display: block;
		padding-left: 110px;
	}
	table td:before {
		position: absolute;
		top: 8px;
		left: 10px;
		display: block;
		content: attr(aria-label) ": ";
		font-weight: 700;
	}
	table tbody tr {
		padding: 20px 0;
		display: block;
	}
	table:nth-of-type(odd) {
		background: #ECEAE4;
	}
}

.showcase {
	position: absolute;
	right: 0;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #111;
	transition: 0.5s;
	z-index: 2;
}

.showcase video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.8;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #003DA6;
	mix-blend-mode: overlay;
}

.fa-angle-up {
	font-size: 2rem;
	border: 4px solid #251607;
	border-radius: 50px;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	float: right;
}